:root {
    --dark-green: #006D77;
    --light-green: #83C5B3;
    --gray: #EDF6F9;
    --pink: #FFDDD2;
    --brown: #E29578;
}
/* Element Selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: var(--dark-green);
    background-color: var(--gray);
}
/*Element Selectors End */
/* Utility Classes Start */
.float-right {
    float: right;
}
/* Utility Classes */
/* Header Style Start*/
header {
    padding: 20px 35px;
    background-color: var(--dark-green);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
header h1 {
    color: var(--pink);
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline;
}
header nav {
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: none;
    color: var(--pink);
}
/* Header Style End */
/* Hero Syle */
.hero {
    width: 100vw;
    height: 44vh;
    background-image: url("../images/hero-photo.jpg");
    background-size: cover;
    background-position: center;
}
/* Hero Style End */
/* Puppies Style Start */
#puppies {
    display: flex;
}
.carousel-holder {
    width: 25%;
    background-color: var(--pink);
    margin: 10px;
}
.profile-holder {
    width: 75%;
    background-color: var(--pink);
    margin: 10px;
}
.profile-holder h2 {
    text-align: center;
}
.profile-flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.profile-flexbox div {
    width: 200px;
    height: 200px;
    background-color: var(--brown);
}
/*Puppies Style End */